LIST FUNCTIONS

In [1]:
list=[4,6,7,9,10,2,15]
print(sorted(list))

[2, 4, 6, 7, 9, 10, 15]

In [2]:
print(sorted(list,reverse=True))

[15, 10, 9, 7, 6, 4, 2]

In [3]:
list=[4,23,45,67,89,90]
new_list=list.copy()
print(new_list)

[4, 23, 45, 67, 89, 90]

In [9]:
def copy(list):
    list2=[]
    for i in range(0,len(list)):
        list2.append(list[i])
    return list2
list=[1,2,3,4]
print(copy(list))

[1, 2, 3, 4]

In [11]:
def copy(list):
    list2=[]
    for i in range(0,len(list)):
        for j in range(0,len(list)):
        if list[i]==j
    return list2
list=[1,2,3,4]
print(copy(list))

[1, 2, 3, 4]

In [12]:
list1=[1,2,3,4]
print(any(list1))

True

In [21]:
def any_fun(list):
    for i in range(0,len(list)):
        if list[i]==0:
            return False
        else:
            return True
list=[0,0,0,0,0]
print(any_fun(list))

False

In [28]:
def all_fun(list):
    for i in range(0,len(list)):
        if list[i]==0:
            return False
    else:
        return True
list=[1,2,3,0]
print(all_fun(list))

False

joins,index

In [5]:
list1=["a","b","c"]
str=",".join(list1)
print(str)

a,b,c

list comprehension:-
-with the help of list comprehension we will able to write consize code.
ex:
-list comprehension will provide better readability.
syntax:-
[expression for item in list if condition==True]

In [29]:
list=[i**3 for i in list]
list

[1, 8, 27, 0]

In [32]:
list=[i for i in range(0,22) if i%2==0]
list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
list=[i for i in range(21) if i%2!=0]
list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
list=[i for i in range(1,100) if i%7==0]
list

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [36]:
list=[i for i in range(1,1000) if i%5==0 and i%10==0]
list

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520,
 530,
 540,
 550,
 560,
 570,
 580,
 590,
 600,
 610,
 620,
 630,
 640,
 650,
 660,
 670,
 680,
 690,
 700,
 710,
 720,
 730,
 740,
 750,
 760,
 770,
 780,
 790,
 800,
 810,
 820,
 830,
 840,
 850,
 860,
 870,
 880,
 890,
 900,
 910,
 920,
 930,
 940,
 950,
 960,
 970,
 980,
 990]

In [1]:
list=[3.4,5,6.7,8,9,10]
list=[i for i in list if i==int(i)]
list

[5, 8, 9, 10]

In [7]:
list=[1,2,3,4]
list=[str(list[i]) for i in range(0,len(list)) ]
list

['1', '2', '3', '4']

NESTED LIST:-

In [10]:
list=[[1,2,3],[4,5],[6,7,8,9],[10,11]]
def print_list(list):
    for inner_list in list:
        for i in inner_list:
            print(i)
                
                
print(print_list(list))

1
2
3
4
5
6
7
8
9
10
11
None

In [2]:
list=[[1,2,3],[4,5],[6,7,8,9],[10,11]]
list=[max(inner_list) for inner_list in list  ]
list

[3, 5, 9, 11]

#### TUPLE

-In built DS in python.
-It is also a linear DS.
-It is also collection of heterogenous kind of data.
syntax:-
tuple_name=(item1,item2,item33,...)
-each element in the tuple separated by a comma.

In [1]:
#creating empty tuple
t=()
t

()

In [2]:
#creating tuple of integers
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [3]:
type(t1)

tuple

In [4]:
#creating the tuple for float
t2=(4.5,6,7.8)
t2

(4.5, 6, 7.8)

In [5]:
#tuple of string
t3=("mayur","satish","rama")
t3

('mayur', 'satish', 'rama')

In [6]:
#miscellaneous tuple
t4=("mayur",101,45.5)
t4

('mayur', 101, 45.5)

- to access the tuple element we need index.
- tuples are immutable
-we can access tuple elements in 0(1) times.
-

In [7]:
list4=list(t4)

In [9]:
type(list4)

list

In [10]:
list4

['mayur', 101, 45.5]

In [11]:
list4.remove(101)

In [12]:
list4

['mayur', 45.5]

In [14]:
t=tuple(list4)
t

('mayur', 45.5)

In [27]:
t1=(1,2,3,4,5)
t2=(56,78,90,23)
t3=t1+t2
for i in t3:
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
    if count==2:
        print(i,"number is prime")
    else:
        print(i,"number is not prime")

1 number is not prime
2 number is prime
3 number is prime
4 number is not prime
5 number is prime
56 number is not prime
78 number is not prime
90 number is not prime
23 number is prime

In [28]:
t=(("mayur",)*5)
t

('mayur', 'mayur', 'mayur', 'mayur', 'mayur')

In [29]:
del t

In [30]:
t

NameError: name 't' is not defined

In [32]:
t=(1,2,3,5)
t.count(4)

0

In [33]:
t.index(5)

3

In [34]:
print(3 in t)

True

In [35]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
t=(1,2,1)
t

(1, 2, 1)

In [37]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [60]:
t=(1,2,3,4,334,21)
t1=tuple(sorted(t))
t1

(1, 2, 3, 4, 21, 334)

In [40]:
maximum=max(t)

In [41]:
maximum

334

In [42]:
minimum=min(t)

In [44]:
minimum

1

In [45]:
add=sum(t)

In [46]:
add

365

In [47]:
all(t)

True

In [48]:
any(t)

True

In [59]:
a=list(reversed(t))
a

[21, 334, 4, 3, 2, 1]